Create a list named "fruits" containing three different fruits and display its items
using for loop.

In [4]:
fruits=["Apple","Banana","Cherry"]
for fruit in fruits:
  print(fruit)

Apple
Banana
Cherry

Create a tuple named "numbers" with five random numbers and display its item
using for loop.

In [6]:
numbers=(2,3,4,5)
for num in numbers:
  print(num)

2
3
4
5

Create a set named "colors" with three different colors and display its items using
for loop.

In [8]:
colors={"Red","Blue","Green"}
for color in colors:
  print(color)
  #sets are unordered so output appear in any order

Blue
Green
Red

 Create a dictionary named "student" with the following key-value pairs: (Marks
20)
o "name" as the key and the student's name as the value.
o "age" as the key and the student's age as the value.
o "grade" as the key and the student's grade as the value.
o Iterate over the dictionary using the for loop and display its keys

1

o Iterate over the dictionary using the for loop and display its values

In [9]:
student={"name":"Fiza","age":19,"grade":"A"}
print("keys:")
for key in student:
  print (key)
print("\nValues")
for value in student.values():
  print(value)

keys:
name
age
grade

Values
Fiza
19
A

 Create a multi-line string named "poem" with a short poem of your choice.

In [10]:
poem="""Roses are red,
Violets are blue,
Coding is fun,
And so are u!"""
print(poem)

Roses are red,
Violets are blue,
Coding is fun,
And so are u!

Write an if statement to check if the length of the "fruits" list is greater than 3. If it
is, print "You have many fruits!".

In [15]:
fruits=["Banana","Cherry","Apple","Mango"]

In [16]:
if len(fruits)>3:
  print("You have meny fruits..")

You have meny fruits..

 Create a program that takes a student's numerical grade as input and prints a
corresponding letter grade. Use if-else statements to classify the grade into
categories such as "A," "B," "C," "D," or "F." (Marks 20)
o If the numerical grade is 90 or higher, the corresponding letter grade is "A."
o If the numerical grade is between 80 and 89 (inclusive), the corresponding
letter grade is "B."
o If the numerical grade is between 70 and 79 (inclusive), the corresponding
letter grade is "C."
o If the numerical grade is between 60 and 69 (inclusive), the corresponding
letter grade is "D."
o If the numerical grade is below 60, the corresponding letter grade is "F."

In [17]:
grade=int(input("Enter the numerical grade:"))
if grade>=90:
  print("Letter grade is A")
elif grade>=80:
  print("Letter grade is B")
elif grade>=70:
  print("Letter garde is C")
elif grade>=60:
  print("Letter garde is D")
else:
  print("Letter grade is F")

Enter the numerical grade:89
Letter grade is B

 Create a program that takes a temperature in Celsius as input from user and
classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."
Use if-else statements to define the temperature ranges for each category. (Marks
20)
o If the temperature is below -10 degrees Celsius, it's classified as "Freezing."
o If the temperature is between -10 and 0 degrees Celsius (exclusive), it's
classified as "Cold."
o If the temperature is between 0 and 20 degrees Celsius (exclusive), it's
classified as "Moderate."
o If the temperature is between 20 and 30 degrees Celsius (exclusive), it's
classified as "Warm."
o If the temperature is 30 degrees Celsius or above, it's classified as "Hot."

In [18]:
temperature = float(input("Enter the temperature in Celsius: "))
if temperature < -10:
    print("Freezing")
elif -10 <= temperature < 0:
    print("Cold")
elif 0 <= temperature < 20:
    print("Moderate")
elif 20 <= temperature < 30:
    print("Warm")
else:
    print("Hot")

Enter the temperature in Celsius: 89
Hot