practice for while loop

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<=10:
  print("fiza",i)
  i+=1

fiza 1
fiza 2
fiza 3
fiza 4
fiza 5
fiza 6
fiza 7
fiza 8
fiza 9
fiza 10

In [ ]:
n=int(input("Enter a number: "))
i=1
while i<=10:
  print(n*i)
  i+=1

Enter a number: 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
num=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(num):
  print(num[idx])
  idx+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
num=(1,4,9,16,25,36,49,64,81,100)
x=36

i=0
while i<len(num):
  if (num[i]==x):
     print("found",i)
  i+=1

found 5

practice for for loop

In [ ]:
friends=["fiza","snobar","tanzela"]
for friend in friends:
  print("love u",friend)

love u fiza
love u snobar
love u tanzela

In [ ]:
um = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36

idx = 0
for num in um:
    if num == x:
        print("found", idx)
        break
    idx += 1

found 5

In [ ]:

num=[1,4,9,16,25,36,49,64,81,100]
for nums in num:
  print(nums)

1
4
9
16
25
36
49
64
81
100

using range function(step,start,stop)

In [23]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
seq = range(5)
for i in seq:
  print(i)

0
1
2
3
4

In [26]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [28]:
n=int(input("Enter a number:"))
for i in range(1,11):
  print(n*i)

Enter a number:6
6
12
18
24
30
36
42
48
54
60

pass statment

In [30]:
for i in range(5):
  pass
print("Fiza a python developer")

Fiza a python developer

In [35]:
n=7
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
print("total sum is=",sum)

total sum is= 28

In [41]:
n=5
fact=1
for i in range(1,n+1):
  fact*=i
print("total factorial is:",fact)

total factorial is: 120