In [2]:
def calc_sum(a, b):
    return a + b

result = calc_sum(4, 9)
print(result)

13

In [3]:
def check_even_odd(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"

In [4]:
result = check_even_odd(7)
print(result)  # Output: odd

result = check_even_odd(4)
print(result)  # Output: even

odd
even

In [5]:
def calc_avg(a, b):
    return (a + b)/2

result = calc_avg(4, 9)
print(result)

6.5

In [6]:
cities = ["delhi", "havelilakha", "mumbai", "pune"]
besties = ["fiza", "snobar", "tanu", "amoo", "dj"]

def print_len(lst):
    print(len(lst))  # âœ… prints the length of the list

print_len(cities)    # Output: 4
print_len(besties)   # Output: 5

4
5

In [8]:
cities = ["delhi", "havelilakha", "mumbai", "pune"]
besties = ["fiza", "snobar", "tanu", "amoo", "dj"]

def print_list(list):
  for item in list:
    print(item,end=" ")

print_list(besties)

fiza snobar tanu amoo dj

In [10]:
def cal_fact(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    print(f"Factorial of {n} is {fact}")


cal_fact(5)

Factorial of 5 is 120

In [11]:
def converter(usd_val):
  inr_val=usd_val*280
  print(usd_val,"USD=",inr_val,"INR")

converter(100)

100 USD= 28000 INR

In [12]:
def show(n):
  if(n==0):
    return
  print(n)
  show(n-1)
show(5)

5
4
3
2
1

In [13]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))  # Output: 120

120

In [14]:
def recursive_sum(n):
    if n == 0:
        return 0
    return n + recursive_sum(n - 1)

In [15]:
print(recursive_sum(5))  # Output: 15 (5+4+3+2+1+0)

15

In [16]:
def print_list_elements(my_list, index):
    if index == len(my_list):
        return
    print(my_list[index])
    print_list_elements(my_list, index + 1)

In [17]:
cities = ["delhi", "havelilakha", "mumbai", "pune"]
print_list_elements(cities, 0)

delhi
havelilakha
mumbai
pune