1. Write a program that takes a string as input and counts the number of vowels and
consonants in the string. (5 marks)
Input: Hello, World!
Output:
Number of vowels: 3
Number of consonants: 7

In [ ]:
def count_vowels_consonants(string):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    consonant_count = 0

    for char in string:
        if char.isalpha():
            if char in vowels:
                vowel_count += 1
            else:
                consonant_count += 1

    print("Number of vowels:", vowel_count)
    print("Number of consonants:", consonant_count)

# Example
count_vowels_consonants("Hello, World!")

Number of vowels: 3
Number of consonants: 7

2. Write a Python program that accepts a filename from the user and prints the extension
of the file. (5 marks)

In [ ]:
filename= input("Enter the filename:")
extension=filename.split(".")
print("Ouput", extension)

Enter the filename:fiza.ipynb
Ouput ['fiza', 'ipynb']

3. Write a Python program to check if value 200 exists in the following dictionary.
(5 marks)
Sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
   print("Value 200 exists in the dictionary.")
else:
   print("Value 200 does not exist in the dictionary.")

Value 200 exists in the dictionary.

4. The given tuple is a nested tuple. Write a Python program to print the value 20.
(5 marks)
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
tuple1=("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

5. Write a Python program that calculates the Body Mass Index (BMI) for a person
based on their weight (in kilograms) and height (in meters). The BMI is calculated
using the following formula: (5 marks)
BMI = (weight) / (height^2)

Instructions:

● Prompt the user to enter their weight in kilograms.
● Prompt the user to enter their height in meters.
● Calculate the BMI using the provided formula.
● Display the calculated BMI to the user.

Additionally, provide an interpretation of the BMI according to the
following categories:

● BMI < 18.5: Underweight
● 18.5 <= BMI < 25: Normal weight
● 25 <= BMI < 30: Overweight
● BMI >= 30: Obese

In [ ]:
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters:"))
bmi = weight / (height**2)
print("Your BMI is: round(bmi,2)")

if bmi<18.5:
  print("Underweight")
elif bmi<25:
    print("you have normal weight")
elif bmi<30:
      print("you are overweight")
else:
        print("you are obese")

Enter your weight in kilograms: 78
Enter your height in meters:9.8
Your BMI is: round(bmi,2)
Underweight

Write a Python program that prompts the user to input a string. The program
should count the frequency of each character in the string and then print the result
as a dictionary.(5 marks)

EXAMPLE: If the user enters "hello" , the program should output {'h': 1, 'e': 1, 'l': 2, 'o': 1}
indicating that 'h' appears once, 'e' appears once, 'l' appears twice, and 'o' appears
once in the input string.

In [ ]:

string=input("Enter a string:")

freq={}


for char in string:
      if char in freq:
         freq[char] += 1
      else:
         freq[char]=1


print(freq)

Enter a string:fizaa
{'f': 1, 'i': 1, 'z': 1, 'a': 2}

7. Write a Python program that takes a string input from the user and checks if it is a valid
email address. If it is valid, print "Valid email address", otherwise print "Invalid email
address".(5 marks)

Hint: Check if the string contains “@” and ends with “.net”, or “.com” to check
validity. Example: If the email is “abc@example.com”, then it is a valid email,
otherwise an Invalid email.

In [ ]:
email=input("Enter valid email adress:")
if "@" in email and (email.endswith(".com") or email.endswith(".net")):
 print("Valid email")
else:
  print("invalid email")

Enter valid email adress:fiza@gmail.com
Valid email

8. Given a tuple of tuples, write a Python program to print the sum of the elements
in each inner tuple. (5 marks)

Input: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Output: 6, 15, 24

In [ ]:
tuple_data=((1, 2, 3), (4, 5, 6), (7, 8, 9))

for t in tuple_data:

  print(sum(t))

6
15
24

9. Create a list containing the 10 numbers . Print the first Three prime numbers from
the list.

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
prime_numbers = []

for num in numbers:
  prime_numbers.append(num)
  if len(prime_numbers) ==3:
     break

print("First 3 prime numbers:",prime_numbers)

First 3 prime numbers: [1, 2, 3]

10.Given a list of dictionaries representing students' information (name, age, grade),
Write a Python program to sort the students based on their grades in descending
order and print the sorted list. (5 marks)
Dictionary: [

{"name": "John", "age": 20, "grade": 85},
{"name": "Alice", "age": 22, "grade": 90},
{"name": "Bob", "age": 21, "grade": 80}
]

In [ ]:
students=[
    {"name": "FIZA", "age": 20, "grade": 85}, {"name": "SNOBAR", "age": 22, "grade": 90}, {"name": "TANZEELA", "age": 21, "grade": 80} ]

sorted_students = sorted(students, key=lambda x: x['grade'], reverse=True)

print(sorted_students)

[{'name': 'SNOBAR', 'age': 22, 'grade': 90}, {'name': 'FIZA', 'age': 20, 'grade': 85}, {'name': 'TANZEELA', 'age': 21, 'grade': 80}]

11. Create a program that takes a list of multiple numbers separated with commas (,) from
the user and finds the total number of unique values in the list and also prints them. (5
marks)
Expected_format:
Total number of unique values: 6
Unique values in the list: [1, 2, 3, 4, 5, 6]

In [ ]:
nums = input("Enter numbers seprated by commas:")
num_list = list(map(int,nums.split(",")))
unique_values=list(set(num_list))
print("Total number of unique values:",len(unique_values))
print("Unique values in the list:",unique_values)

Enter numbers seprated by commas:10,10,19,39,20
Total number of unique values: 4
Unique values in the list: [10, 19, 20, 39]

12.Write a program that takes two lists as input and returns a new list containing elements
that are common to both lists.(Hint: Use list methods to implement this.) (5 marks)
Input Lists:
List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7, 8]

Common Elements: [4, 5]

In [ ]:
List1=[1, 2, 3, 4, 5]
List2= [4, 5, 6, 7, 8]
common=[]

for item in List1:
  if item in List2:
    common.append(item)
print("Common Elements:",common)

Common Elements: [4, 5]

13.Write a program that takes two dictionaries as input and merges them into a new
dictionary. If there are common keys, combine their values. (5 marks)
dict1= {‘a’:5, ‘b’:10, ‘c’:15}
dict2= {‘b’:20, ‘c’:25, ‘d’:30}

In [ ]:
dict1= {'a':5, 'b':10, 'c':15}
dict2= {'b':20, 'c':25, 'd':30}

merged = dict1.copy()

for key,value in dict2.items():
   merged[key]= merged.get(key,0)+value
print(merged)

{'a': 5, 'b': 30, 'c': 40, 'd': 30}

14.Write a program that takes two numbers, base and exponent, and calculates the result
of raising base to the power of exponent using the ** operator. (5 marks)
Input: Base: 2
Exponent: 3

Result: 8

In [ ]:
base=int(input("Enter base:"))
exponent =int(input("Enter exponent:"))
result=base**exponent
print("Result",result)

Enter base:3
Enter exponent:2
Result 9

15.Write a program that takes a temperature in Celsius as input and converts it to
Fahrenheit using the formula. (5 marks)
Fahrenheit = (Celsius * 9/5) + 32.

In [ ]:
celsius=float(input("Enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print("Temperature in fahrenheit:",fahrenheit)

Enter temperature in celsius:0
Temperature in fahrenheit: 32.0

16.Write a Python program to reverse a list without using built-in functions.

In [ ]:
original=[1,2,3,4,5]
reversed_list=[]
for i in range (len(original)-1,-1,-1):
  reversed_list.append(original[i])
  print(reversed_list)

[5]
[5, 4]
[5, 4, 3]
[5, 4, 3, 2]
[5, 4, 3, 2, 1]

17.Given a string "Hello World", write a Python program to reverse the string without
reversing the individual words. (5 marks)

In [ ]:
sentence="Fiza Aslam "
words=sentence.split()
reversed_words=words[::-1]
reversed_sentence=' '.join(reversed_words)
print(result)

Aslam Fiza

18. Implement a Python function is_palindrome() that checks whether a passed string is a
palindrome (reads the same forward and backward) and tests it with "radar".(5

In [ ]:
def is_palindrome(word):
  return word==word[::-1]
print(is_palindrome("radar"))

True

19.Write a program that returns a list of even numbers from a given list. (5 marks)

Input: [2, 5, 3, 7, 9, 53, 10, 32, 65, 76, 98]

In [ ]:
numbers=[2,5, 3, 7, 9, 53, 10, 32, 65, 76, 98]
even_numbers=[]
for num in numbers:
  if num%2==0:
    even_numbers.append(num)
print("Even numbers:",even_numbers)

Even numbers: [2, 10, 32, 76, 98]

20.Given two lists keys = ['a', 'b', 'c'] and values = [1, 2, 3], write a Python program
to create a dictionary from these lists. (5 marks)

Expected Output: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
keys= ['a', 'b', 'c']
values = [1, 2, 3]
result=dict(zip(keys,values))
print(result)

{'a': 1, 'b': 2, 'c': 3}